.izquierda {
    letter-spacing: 2px;
    color: gray;
    text-transform: uppercase;
    margin-right: auto;
    font-size: 20px;
    
}

span {
    color: rgba(255, 255, 255, 0.856);
    font-size: 30px;
}

.derecha {
    margin-left: auto;
}

.derecha a:hover{
  font-size: 20px;
   transition: none;
}

.contenedor-pop{
    position: relative;
}

.pop{
    position: absolute;
    background-color: aliceblue;
    color: black;
    width: 20px;
    height: 20px;
    border-radius: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 15px;
    bottom: 10px;
    left: 20px;
    font-weight: 400;
}