

h1{
    text-transform: uppercase;
    letter-spacing: 5px;
    text-align: center;
    margin-top: 5%;
    font-size: 50px;
    animation: parpadear 5s infinite backwards;
}


@keyframes parpadear{
    to{
        color: gray;
        text-shadow: 0 0 5px white, ;
    }
}

.completar-compra{
    font-size: 20px;
}

.button-close{
    left: 80%;
    
}

 .close-icon{
    font-size: 20px;

}


.icon-hover{
font-size: 35px;
  cursor: pointer;
  
}

.icon-hover:hover {
    
    transition: 0.5s;
    transform: translateY(-7px);
}

